# Dependencies
node_modules/
**/node_modules/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Production Build Directories
dist/
build/
out/
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Keystore / Credentials
*.pem
*.key
*.pfx
*.cert

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
